* {
        box-sizing: border-box;
        scroll-behavior: smooth;
}

html {
        font-family: 'Pangolin', cursive;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: white;
        font-weight: 400;
        text-decoration: none;
}

.background_main {
        background-color: rgb(27, 26, 26);
        padding: 30px 0px 10px 0px;
}

.content {
        max-width: 1024px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
}


/*Главный заголовок и текст*/
.hero_title {
        font-weight: 600;
        font-size: 60px;
        margin-top: 50px;
        text-align: center;
}

.hero_text {
        margin-top: 20px;
        font-size: 30px;
}


/* Форма для добавления новой книги */
#modal_add-book {
        background-color: rgba(255, 0, 0, 0.204);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        justify-content: center;
        align-items: center;
}

.add_modal {
        background-color: rgb(27, 26, 26);
        font-size: 30px;
        padding: 40px;
        border-radius: 20px;
}

#close-modal {
        padding-left: 90%;
}


.input_book {
        appearance: none;        
        height: 34px;
        width: 250px;
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        outline: none;
}

.input_book:focus {
        border-color: #f97316;
}


/* Динамическое добавление книг */
.book_style {
        border: 2px solid #f97316;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 30px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
}


/* Картинки */
.image_book {
        height: 400px;
        width: 300px;
}


/* Кнопки */
.button_style {
        background-color: #f97316;
        border-radius: 10px;
        border-style: none;
        padding: 10px;
        width:250px;
        font-size: 24px;
        color: white;
        cursor: pointer;
        transition: 500ms linear;
} 

.button_style:hover {
        color: #f97316;
        background-color: white;
}


/* Огонь */
.footer_image {
        object-position: top center;
        width: 100%;
        height: 700px;
        margin-top: 70px;
}


@media (max-width: 768px) {
        .hero_title {
                font-weight: 500;
                font-size: 50px;
        }  
        .hero_text {
                font-size: 20px;
        }
        .book_style {
                width: 80%;
        }
        .footer_image {
                height: 500px;
        }
}

@media (max-width: 420px) {
        .hero_title {
                font-weight: 500;
                font-size: 50px;
        }  
        .hero_text {
                font-size: 20px;
        }
        .book_style {
                width: 80%;
        }
        .footer_image {
                height: 300px;
        }
}

@media (max-width: 390px) {
        .hero_title {
                font-weight: 500;
                font-size: 50px;
        }  
        .hero_text {
                font-size: 20px;
        }
        .book_style {
                width: 80%;
        }
        .footer_image {
                height: 300px;
        }
}

@media (max-width: 320px) {
        .hero_title {
                font-weight: 500;
                font-size: 40px;
        }  
        .hero_text {
                font-size: 20px;
        }
        .add_modal {
                font-size: 20px;
                padding:20px;
        }
        .book_style {
                font-size: 20px;
                width: 80%;
        }
        .image_book {
                height: 250px;
                width: 180px;
        }
        .button_style {
                width:200px;
                font-size: 18px;
        }
        .footer_image {
                height: 200px;
        }
} 